// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, html {
    height: 100%;
}

body {
    background-color: #010108; /* Dark navy background */
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    overflow-y: hidden;
}

nav {
    z-index: 100;
}

.bg-black {
    background: #030303;
}

.bg {
    background: radial-gradient(circle at bottom right, rgba(52, 199, 247, 0.4), #060303 34%);
    color: white;
    .text-muted {
        color: #cccccc !important;
    }
}

.intro-section {
    font-family: Orbitron, sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.intro-section h1 {
    font-size: 4em;
}

.intro-section video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Optional for better readability */
}

#application {
    .card {
        border: 1px solid white;
        background-color: rgba(100,100,100,0.3);
        color: white;

        label {
            font-weight: bold;
        }

        textarea {
            background: rgba(100,100,100,0.2);
            color: white;
        }
    }
}

#haulage-calculator {
    input.form-control, .form-control:disabled, .form-control[readonly] {
        background: rgba(100, 100, 100, 0.2);
        color: white;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.filter {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/rect_1.png');
}

.bg-none {
    background: transparent;
}
.font-big {
    font-size: 1.3em;
}
.font-bigger {
    font-size: 1.6em;
}
.font-bigly {
    font-size: 2em;
}

.table-hover {
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

/*== start of code for tooltips ==*/
.tool {
    cursor: help;
    position: relative;
}


/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
    left: 50%;
    opacity: 0;
    position: absolute;
    z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
    opacity: 1;
    transform: scale(1) translateY(0);
    z-index: 100;
}


/*== pointer tip ==*/
.tool::before {
    border-style: solid;
    border-width: 1em 0.75em 0 0.75em;
    border-color: #3E474F transparent transparent transparent;
    bottom: 100%;
    content: "";
    margin-left: -0.5em;
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26), opacity .65s .5s;
    transform:  scale(.6) translateY(-90%);
}

.tool:hover::before,
.tool:focus::before {
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
}

.tool::after {
    background: #3E474F;
    border-radius: .25em;
    bottom: 180%;
    color: #EDEFF0;
    content: attr(data-tip);
    margin-left: -8.75em;
    padding: 1em;
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
    transform:  scale(.6) translateY(50%);
    width: 17.5em;
}

.tool:hover::after,
.tool:focus::after  {
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);
}


